<div class="row top">
  <h2 class="text-center">User My Page</h2>
</div>

<%= render 'users/info', user: @user %>

<div class="row">
  <div class="col-xs-1"></div>

  <div class="col-xs-10"></div>

  <div class="col-xs-1"></div>
</div>