<div class="row top">
  <h2 class="text-center">My Page</h2>

  <div class="col-xs-1"></div>

  <div class="col-xs-3">
    <%= render 'users/info', user: @user %>
  </div>
  <div class="col-xs-9">
    
  </div>

  <div class="col-xs-1"></div>
</div>
